@import "variables";

.card {
  @include sizeWH(200px, 403px);
  padding: 15px 14px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  }

  &__image {
    @include flex-center;
    margin: 15px 0 45px;

    &Image {
      @include sizeWH(160px, 134px);
    }
  }

  &__description {
    margin: 5px 0;
    font-weight: $font-weight-medium;
    font-size: 12px;
    line-height: 15px;
  }

  &__price {
    @include flex-center-spaceBetween;
    margin: 20px 0;

    &Text {
      position: relative;
      top: 2px;
    }

    &Number {
      font-weight: $font-weight-bold;
      font-size: 16px;
    }
  }

  &__button {
    @include flex-center;
    @include sizeWH(170px, 40px);

    &Text {
      background: $main-blue-color;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      font-size: 14px;
      transition: background-color 0.2s, color 0.2s;
      border-radius: 5px;
      border: 1px solid $main-blue-color;

      &:hover {
        color: $main-blue-color;
        background-color: white;
      }
    }
  }
}

.stars {
  @include flex-center-spaceBetween;
  margin: 15px 0;

  &__row {
    @include flex-center;
  }

  &__instance {
    margin-right: 4px;
    background: url("../images/star.svg") no-repeat center;
    @include size(15px);
  }
}

@for $i from 1 through 5 {
  .stars--#{$i} .stars__instance:nth-child(-n+#{$i}) {
    background: url("../images/star-active.svg") no-repeat center;
  }
}
