@import "variables";

.header {
  @include flex-center-spaceBetween;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__navbar {
    @include flex-center;
    margin-right: 50px;
    height: 60px;
  }

  &__image {
    @include size(40px);
    margin-left: 50px;
  }

  &__ulist {
    padding-left: 0;
    padding-right: 0;
    line-height: 60px;
  }

  &__list {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 17px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: black;
    line-height: 60px;
    padding: 22.5px 0;

    &:hover {
      color: $main-blue-color;
    }
  }
}

.is-active {
  color: $main-blue-color;

  &::after {
    display: flex;
    position: absolute;
    content: "";
    top: 56px;
    background-color: #00acdc;
    @include sizeWH(38px, 4px);
    border-radius: 8px;
  }
}
