$main-blue-color: #00acdc;

@mixin flex-center-spaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin sizeWH($width, $height) {
  height: $height;
  width: $width;
}

@mixin size($size) {
  height: $size;
  width: $size;
}
